<% include ./partials/header %>
    <div class="row">
        <div class="col-md-12">
            <form action="/reset/:token" method="post">
                <legend>New Password</legend>
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="password" name="password" autofocus="autofocus" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="email">Confirm Password</label>
                    <input type="password" name="confirm" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirm Password" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
<% include ./partials/footer %>