.img-thumbnail {
    width: 100%;
}

.container {
    padding: 50px;
}
#user {
    color: orchid;
}

.delete-form{
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
#adminHeader {
    color: crimson;
    text-align: center;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#userCampImages {
    max-width: 15rem;
}